<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fendiel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fendiel.styles.css" asp-append-version="true" />

    @* Adicionando tailwindcss *@
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()

            <div class="bg-blue-500 text-white p-4">
                Este é um elemento com fundo azul, texto branco e preenchimento de 4 unidades.
            </div>

        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
